// Custom Styles

//styling variables
$color1 :HSLA(0, 0%, 0%, 1);
$color2 :HSLA(0, 0%, 97%, 1);



body {
  background-color: #002b49;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
.temp-table {
  background-color: $color1;
  border-radius: 5px;
  thead {
    background-color: $color1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
form {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
}
.mock-form {
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
  
  // opacity: .85;
}
.mock-form-row {
  padding: 10px;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}
.table-responsive {
  padding: 0;
}
.temp-btn-group {
  padding-top: 10px;
}
.container {
  position: relative;
  height: 14rem;
  
  // border: 1px solid;
}
.child {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  // border: 1px dashed deeppink;
}
// .nav,
// .nav-bar-default, 
.nav-style{
    background-color: $color1;
    border-style: none;    
}
.form-temp{
    background-color:$color1;
}