// Custom Styles

//styling variables
$background-color: HSLA(206, 100%, 15%, 1);
$color1 :HSLA(0, 0%, 93%, 1);
$color2 :HSLA(0, 0%, 97%, 1);



body {
  // background-color: $background-color;
  background-image: url("../images/013.jpg");
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
.temp-table {
  background-color: $color1;
  border-radius: 5px;
  thead {
    background-color: $color1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
.msg-box{
    padding-right: 0;
}
form {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
}
.mock-form {
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
  
  // opacity: .85;
}
.mock-form-row {
  padding: 10px;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}
.table-responsive {
  padding: 0;
}
.temp-btn-group {
  padding-top: 10px;
}
.container {
  position: relative;
  height: 14rem;
  
  // border: 1px solid;
}
.child {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  // border: 1px dashed deeppink;
}
// .nav,
// .nav-bar-default, 
.nav-style{
    background-color: $color1;
    border-style: none;    
}
.form-temp{
    background-color:$color1;
}
tbody{
    background-color: $color2;
    
}
.my-panel-heading{
    background-color: $color1;
    padding: 5px;
    border-bottom: solid;
    border-color: black ;
    border-width: thin;
}
.my-panel-body{
    padding:10px;
    background-color: $color2;
}
.span-title{
    font-size: 2rem;
    
}
.panel-default{
    background-color: $color1;
    
}