<div class="col-md-8 temp-table">
	<div class="col-md-9 temp-btn-group">
        <a href="#/add-client">
            <button type="button" class="btn btn-success" value="">
                <span>add client </span>
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </a>
        
    </div>
    
        <form class="col-xs-6 col-md-3 pull-right">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>

                <input type="text" class="form-control" placeholder="Search Clients" ng-model="searchClients">

              </div>      
            </div>
        </form>    
	<table class="table temp-table table-hover">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>
					<a href="" ng-click="sortType = 'company_name'; sortReverse = !sortReverse ">
						Company	
						<span ng-show="sortType == 'company_name' && !sortReverse"> </span>
						<span ng-show="sortType == 'company_name'&& sortReverse"> </span>
					</a>
				</th>
				<th>
					<a href="" ng-click="sortType = 'industry'; sortReverse = !sortReverse ">
						Industry</th>
						<span ng-show="sortType == 'industry' && !sortReverse"> </span>
						<span ng-show="sortType == 'industry'&& sortReverse"> </span>
					</a>
					<th>
						<a href="" ng-click="sortType = 'contact_name'; sortReverse = !sortReverse ">
						Contact Name
						<span ng-show="sortType == 'contact_name' && !sortReverse"> </span>
						<span ng-show="sortType == 'contact_name'&& sortReverse"> </span>
					</a>
					</th>
					<th>
						<a href="" ng-click="sortType = 'contact_email'; sortReverse = !sortReverse ">
						Contact Email
						<span ng-show="sortType == 'contact_email' && !sortReverse"> </span>
						<span ng-show="sortType == 'contact_email'&& sortReverse"> </span>
					</a>
					</th>
					<!-- <th>
						<a href="" ng-click="sortType = 'contact_phone'; sortReverse = !sortReverse ">
						Contact Phone
						<span ng-show="sortType == 'contact_phone' && !sortReverse"> </span>
						<span ng-show="sortType == 'contact_phone'&& sortReverse"> </span>
					</a>
					</th> -->
					<th>
						<a href="" ng-click="sortType = 'sales_rep'; sortReverse = !sortReverse ">
						Sales Rep
						<span ng-show="sortType == 'sales_rep' && !sortReverse"> </span>
						<span ng-show="sortType == 'sales_rep'&& sortReverse"> </span>
					</a>
					</th>
					<th>
						<a href="" ng-click="sortType = 'client_service_manager'; sortReverse = !sortReverse ">
						Client Service Manager
						<span ng-show="sortType == 'client_service_manager' && !sortReverse"> </span>
						<span ng-show="sortType == 'client_service_manager'&& sortReverse"> </span>
					</a>
					</th>
					<!-- <th>
						<a href="" ng-click="sortType = 'contract_signed_date'; sortReverse = !sortReverse ">
						Contract Signed
						<span ng-show="sortType == 'contract_signed_date' && !sortReverse"> </span>
						<span ng-show="sortType == 'contract_signed_date'&& sortReverse"> </span>
					</a>
					</th> -->

			</tr>
		</thead>
		<tbody class="">

			<tr class="clickable-row" ng-repeat="client in clients | orderBy: sortType: sortReverse | filter:searchCurrentUser">
				<td style="vertical-align:middle">
					<a href="#/single-client/{{client.$id}}">
						<button class="btn btn-primary" type="button">
							<span class="glyphicon glyphicon-folder-open"></span>
						</button>
					</a>
				</td>
				<!-- <td>{{client.objectId}}</td> -->
				<td style="vertical-align:middle">{{client.company_name}}</td>
				<td style="vertical-align:middle">{{client.industry}}</td>
				<td style="vertical-align:middle">{{client.contact_name}}</td>
				<td style="vertical-align:middle">{{client.contact_email}}</td>
				<!-- <td style="vertical-align:middle">{{client.contact_phone}}</td> -->
				<td style="vertical-align:middle">{{client.sales_rep}}</td>
				<td style="vertical-align:middle">{{client.client_service_manager}}</td>
				<!-- <td style="vertical-align:middle">{{client.contract_signed_date | date}}</td> -->
			</tr>
		</tbody>

	</table>

</div>

<div class="col-md-4" ng-controller="MessageController">
	<h3>Messages</h3>
	<ul class="">
		<li class="" ng-repeat="x in currentUser.messages.new">
			<!-- <span>{{x.subject}}</span>
			<br>
			<span>{{x.body}}</span> -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{x.subject}}</h3>
				</div>
				<div class="panel-body">
					{{x.body}}
				</div>
			</div>

		</li>
	</ul>
	<div>
		<!-- <form id="message-form" class="">
			<div class="form-group">
				<div class="col-md-9">
					<input type="text" placeholder="type title here" class=" form-control messageform" ng-model="message.title">	
					<input type="text" placeholder="type message here" class=" form-control messageform" ng-model="message.body">	
				</div>
				<div class="col-md-3">
					<input type="button" value="send" class="btn btn-info form-control " ng-click="addMessage(message)">		
				</div>
			</div>
		</form> -->
	</div>
	<!-- <ul class="list-group" ng-repeat="msg in allMessages">
		<li class="list-group-item">
			<h4>{{msg.title}}</h4>
			<p>{{msg.body}}</p>
		</li>
		</li>
	</ul> -->
	<div class="col-md-12">
		<h3>Active Users?</h3>
		<h3>countdown?</h3>

	</div>


</div>