<nav class="navbar navbar-default" ng-controller="UserController" >
  <div class="container-fluid">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
	  <li class="userNav"><a href="#/">Home</a></li>
	  <li ng-show="userInfo.permissions == 'admin' || userInfo.permissions == 'manager' " class="userNav"><a href="#/clients">Clients</a></li>
	  <li ng-show="userInfo.permissions == 'admin' || userInfo.permissions == 'manager' " class="userNav"><a href="#/users">Users</a></li>
	</ul>
	  <ul class="nav navbar-nav navbar-right">
		<li class="userNav" id="logout"><a href="" ng-click="logOut()">logout <span class="glyphicon glyphicon-off"></span></a></li>
		</li> 
		<li  class="userNav">
			<a href="#/single-user/{{userInfo.$id}}">
				logged in as: {{userInfo.username}} 
			</a>
		</li>
	  </ul>
	</div>
	<!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>